
.page {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /* align-self: center; */
}

.lectures_container {
  
}

.session {
  /* border: 1px solid black; */
  padding: 5px;
}

.session_header_item {
  padding-left: 5px;
}

.lecture_item {
  /* background-color: lightgreen; */
}

.lab_item {
  /* background-color: lightblue; */
}
