
.credit {
  font-size: 60%;
  display: block;
  bottom: 0;
}

.credit::before {
  content: "\2E16";
  padding-right: 4px;
}

.question {
  font-style: oblique;
  color: steelblue;
  background-color: #eee;
  padding-right: 5px;
  border-radius: 2px;
}

.question::before {
  background-color: #eee;
  border-radius: 2px;
  border-left: 4px solid;
  border-color: steelblue;
  content: "";
  padding-right: 5px;
  padding-left: 5px;
}

.note {
  padding-right: 5px;
  border-radius: 2px;
}

.note::before {
  background-color: #eee;
  border-radius: 2px;
  border-left: 4px solid;
  border-color: darkgoldenrod;
  content: "Note";
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 100;
  margin-right: 5px;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; background-color: gainsboro; font-style: italic; }

.red { color: red; }
